# Env
.*-env/
.env
 
# Build / distribution / packaging
.Python
build/
dist/
sdist/
var/
target/
pip-log.txt
pip-delete-this-directory.txt
 
# Byte-compiled / optimized / DLL files
__pycache__
.mypy_cache/
 
# Build docs
docs/_build/
docs/vendor/
 
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
 
# Jupyter stuff
.ipynb_checkpoints/
.ipython/
.cache/
 
# secrets
*.key
.gitsecret/keys/random_seed
 
# Random
.vscode
*.log
desktop.ini
message.txt
snippets/
output/
