@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700');

html {
  background:#ffffff;
  background: #ffffff linear-gradient(#9dafac, #3b4646) fixed;
  height: 100%;
}

body {
  padding:50px 0;
  margin:0;
  font:15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:rgb(39, 42, 43);
  font-weight:300;
  background:url('../images/checker.png') fixed;
  min-height: calc(100% - 100px);
}

.wrapper {
  width:840px;
  margin:0 auto;
  background:#ffffff;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

header, section, footer {
  display:block;
}

a {
  color:rgb(192, 93, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}   

.dazbo-link-button, .dazbo-nolink-button {
  font-size: 14px;
  font-weight: bold;
  background-color: #333;
  color: white;
  transition-duration: 0.4s;
  text-align: center;
  display: inline-block;
  height: 32px;
  border-radius: 10px; // rounded corners
  border: 0px;
  margin: 2px 8px 6px 0px;
  padding: 0px 14px 0px 14px;
  line-height: 32px;
  vertical-align: middle;
}

.dazbo-link-button:hover {
  background-color: #c05b09;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 20px 35px 0 rgba(0,0,0,0.2);
}

.nav-button {
  font-size: 30px;
  font-weight: normal;
  line-height: 24px;
  width: 18px;
  border-radius: 5px; // rounded corners
  margin: 0px 6px 0px 0px; // gap on the right only
}

.dazbo-nolink-button {
  background-color: white;
  color: #333;
  border: 2px solid #333;
  height: 30px;
  line-height: 30px;
}

.dazbo-table {
  border: 1px solid
}

.dazbo-table th {
  background: #444;
  color: #ddd;
}

p {
  margin:0 0 20px;
  padding:0;
}

strong {
  color:#222;
  font-weight:700;
}

header {
  border-radius: 8px 8px 0 0;
  background:#C6EAFA;
  background: linear-gradient(#c05b09, #3d250e);
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #B2D2E1;

  .breadcrumb {
    padding: 0px;
    padding-top: 10px;
    padding-right: 20px;    
    font-size: 14px;
    margin: 0; 
    color:rgb(223, 112, 8);

    .breadcrumb-item {
      display: inline;
      padding-right: 20px;

      a {
        color: #c5bdac;      
      }
    }

    .active {
      display: inline;
      font-weight: bold;
      
      a {
        color: #ffffff;          
      }
    }

    a:hover {
      text-decoration: underline;
    }    
  }
  
  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#fff;
    text-shadow:rgba(rgb(223, 146, 58), 0.9) 0 1px 0;
  }

  &.without-description h1 {
    margin:10px 0;
  }

  p {
    margin:0;
    color:#ebebeb;
    width:600px;
    font-size:13px;
    font-weight: bold;

    &.view {
      display:none;
      font-weight:700;
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      -webkit-font-smoothing:antialiased;

      a {
        color:rgb(208, 209, 188);
      }

      small {
        font-weight:400;
      }
    }
  }

  ul {
    margin:8px;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:38px;
    padding:4px 0;
    background:#d3d2b0;
    background: linear-gradient(#835119, #1b150c);
    border-radius:5px;
    box-shadow: inset rgba(rgb(3, 3, 3), 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;

    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      left:-5px;
      top:-4px;
      right:-5px;
      bottom:-6px;
      background:rgba(rgba(41, 38, 25, 0.959), 0.5);
      border-radius: 8px;
      box-shadow: rgba(rgb(69, 76, 77), 0.3) 0 -1px 0, inset rgba(rgb(255, 250, 183), 0.7) 0 -1px 0;
    }

    li {
      width:79px;
      float:left;
      border-right:1px solid #80794c;
      height:38px;

      &.single {
        border:none;
      }
    }

    li + li {
      width:78px;
      border-left:1px solid #8BBEF3;
    }

    li + li + li {
      border-right:none;
      width:79px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;
      text-shadow:rgba(#000, 0.4) 0 -1px 0;

      strong {
        font-size:14px;
        display:block;
        color:#fff;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}

section {
  padding:15px 20px;
  font-size:16px;
  border-top:1px solid #fff;
  border-radius: 0 0 8px 8px;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  padding:0;
  margin:0 0 20px;
  line-height:1.2;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#4b4b4b;
}

h3, h4, h5, h6 {
  color:#c05b09;
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

img {
  max-width:100%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px;

  code {
    color:#f8f8f2;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #aaa;
}

dt {
  color:#222;
  font-weight:700;
}

th {
  color:#222;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#aaa;
  height:1px;
  margin:0 0 20px;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

footer {
  width:760px;
  margin:0 auto;
  padding:20px 0 0;
  color:#ddd;
  overflow:hidden;

  a {
    color:#fff;
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@media print, screen and (max-width: 840px) {
  body {
    padding:0;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media print, screen and (max-width:580px) {
  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    content:'at https://github.com/';
  }
}
